@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500;700&family=Special+Elite&display=swap');

body {
  background-image: url(../images/paper.webp);
  background-repeat: repeat;
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100vw;
  height: 100vh;
  /* justify-content: center; */
  align-items: center;
  /* overflow: hidden; */
  /* position: absolute; */
}

.main-container{
  padding-top: 25px;
  /* display: flex; */
}

p {
  font-family: Lato, sans-serif;
  font-weight: 700;
  color: #222222;
}

#numQuiz {
  display: none;
}

#gameTitle {
  margin-top: 25px;
  padding: 10px;
  max-width: 300px;
}

#introDescription {
  padding: 0 20px;
  margin-bottom: 15px;
}

.introText {
  font-family: Lato, sans-serif;
  font-weight: 500;
  color: #626161;
}

#red {
  color: #A20C0C
}

h1 {
  font-family: 'Special Elite', serif;
  font-weight: 400;
  font-size: 2rem;
  color: #222222;
  padding: 10px;
  margin-top: 20px;
}

h2 {
  font-family: 'Special Elite', serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #222222;
}

h3 {
  font-family: 'Special Elite', serif;
  font-weight: 400;
  font-size: 1rem;
  color: #A20C0C;
}

#quote {
  text-align: center;
  padding: 0 20px;
  margin: 25px 5px;
  line-height: 1.4;
}

.quiz-area {
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 500px;
  padding: 10px;
  margin: 0 10px;
  align-items: center;
}


.quoteHeader h2 {
  padding: 7px;
  border-radius: 0.5px;
  border: 1px solid #222222;
  text-align: center;
}

.message {
  border-top: 4px double #A20C0C;
  margin: 20px;
  padding-top: 20px;
  align-items: center;
  text-align: center;
}

#progressBar {
  width: 380px;
  height: 10px;
  border: 2px solid #A20C0C;
  border-radius: 10px;
  align-items: center;
  margin: auto;
}

#progressBarFull {
  height: 10px;
  background-color: #A20C0C;
  width: 0%;
}

#score_card {
  font-family: 'Special Elite', serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #A20C0C;
}

.center {
  /* align-items: center;
  text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;

}

ul {
  list-style-type: none;
  padding: 0;
}

.film {
  font-size: 1.1rem;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 300;
  background-color: white;
  border: 1px solid #222222;
  color: #222222;
  padding: 0.7rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.applyColor {
  line-height: 3rem;
  border-radius: 50px;
}

.correct {
  background-color: #77fb96;
}

.incorrect {
  background-color: #a20c0c6f;
}

.blocked {
  display: none;
}

.blocked li:hover {
  display: none;
}

.credit{
  text-align: center;
  text-decoration: none;
  font-size: x-small;
}

footer {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #222222;
  height: 50px;
  color: #FFF;
  padding: 5px auto 10px auto;
}

.footer-icons {
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  list-style: none;
  color: #FFF;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 10px;
}

@media (hover: hover) {
  ul li:hover {
    border: 1px solid #A20C0C;
    cursor: pointer;
  }
}

/* end_game */

#feedbackImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  /* ; */
}

#feedbackImage img{
  border-radius: 20px;
  box-shadow: 5px 5px 10px #222222;
  max-width: 350px;
}

.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

input {
  margin-bottom: 0.5rem;
  width: 350px;
  padding: 0.5rem;
  font-size: 1rem;
  border: #A20C0C, 1px;
}

input::placeholder {
  color: #aaaaaa;
}

#username {
  margin-bottom: 3rem;
  width: 80;
  outline: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 1.2rem;
  font-family: 'Special Elite', serif;
  background-color: white;
  border: 1px solid #A20C0C;
  color: #222222;
  padding: 0.7rem;
  margin: 0.7rem;
  border-radius: 0.3rem;
  cursor: pointer;
  text-decoration: none;
}

.btn-row {
  flex-direction: row;
  justify-content: center;
}
.btn a {
  text-decoration: none;
  color: #222222
}

/* High Scores */

#highScoresList {
  font-size: 1.2rem;
  font-family: Lato, sans-serif;
  font-weight: 300;
  background-color: white;
  border: 2px solid #A20C0C;
  color: #222222;
  padding: 0.7rem;
  margin: 0.7rem;
  border-radius: 0.3rem;

}

.high-score {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.final-image{
  img{
    border-radius: 20px;
    box-shadow: 5px 5px 10px #222222;
    max-width: 350px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.8rem;
  }

  #logo {
    display: none;
  }

  h2 {
    font-family: 'Special Elite', serif;
    font-size: 1.3rem;
    text-align: center;
    padding: 5px 20px;
    margin: 10px 5px;
    line-height: 1.4rem;
    background-color: rgba(255, 255, 255, 0.793);
    border: #222222 0.5px solid;
  }

  #end-game-score {
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 3rem;
    text-align: center;
    padding: 5px 10px;
    margin: 5px 5px;
  }

  #finalScore {
    font-family: 'Special Elite', serif;
    font-size: 4rem;
    color: #A20C0C;
  }

  .films {
    font-size: 1rem;
    font-family: lato, sans-serif;
    font-weight: 300;
    background-color: white;
    border: 1px solid #222222;
    color: #222222;
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 0.2rem;
  }

  .message {
    margin: 10px;
    padding-top: 10px;
  }
}
